@page
@model TimeTracker.Pages.Students.ViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].SignedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Math)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Reading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].TimeIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].TimeOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].BarcodeID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Math)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarcodeID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
