@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<h1>Clock In & Out</h1>

<div class="container d-flex">
    <form class="">
        <p>
            <input type="text" asp-for="SearchString" onfocus="this.value=''" autofocus />
            <input type="submit" value="Scan" class="Button_Style SideBySide" id="myButton" />
        </p>
    </form>

    <form method="post">
        <p>
            <input type="submit" class="Button_Style SideBySide" value="Clear Records" />
        </p>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Math
            </th>
            <th>
                Reading
            </th>
            <th>
                Time In
            </th>
            <th>
                Time Out
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.StudentIn != null)
        {
            @foreach (var item in Model.StudentIn)
            {
                <tr class="@Model.CalculateRowStyle(item)">
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Math)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reading)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeOut)
                    </td>
                </tr>

            }
        }
    </tbody>
</table>

